
body.rwlabs {
  background-color: #666666;
}

a {
  color: #1188bb;
  text-decoration: none;
}

/* Font */
@font-face {
  font-family: 'Volkhov-Regular';
  src: url('../fonts/Volkhov-Regular-OTF-webfont.eot');
  src: local('?'),
       url('../fonts/Volkhov-Regular-OTF-webfont.woff') format('woff'),
       url('../fonts/Volkhov-Regular-OTF-webfont.otf') format('opentype'),
       url('../fonts/Volkhov-Regular-OTF-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* These fonts include accents and other glyphs. If none are required, only the
smaller subset above will be used. */
@font-face {
  font-family: 'Volkhov-Regular-Extra';
  src: url('../fonts/Volkhov-Regular.eot');
  src: local('?'),
       url('../fonts/Volkhov-Regular.woff') format('woff'),
       url('../fonts/Volkhov-Regular.otf') format('opentype'),
       url('../fonts/Volkhov-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Top Navigation */

.navbar {
  margin-top: 8px;
  margin-bottom: 0px;
  overflow: visible;
  color: #777777;
}

.navbar-inner ul {
  display: table;
}
.navbar-inner {
  min-height: 40px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: transparent;
  background-image: none;
  border: 0px;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.navbar .nav > li > a {
    color: #1188bb;
    padding: 7px 10px;
    text-transform: uppercase;
    font-size: .8em;
}

.navbar .nav > li > a:hover {
  color: #999999;
  background-color: #e9e9e5;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

.nav-pills > li > a {
    border-radius: 4px 4px 4px 4px;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #999999;
  font-weight: bold;
  text-decoration: none;
  background-color: #e9e9e5;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

.navbar ul#rw-nav-global-sites li {margin-right: 20px;}
.navbar ul#rw-nav-global-utilities li {margin-left: 5px;}

.navbar a#rw-nav-rwhome {
  background-image: url("../img/rw-nav-rw-home.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 40px;
}

.navbar a#rw-nav-rwlabs {background-image: url("../img/rw-nav-labs.png"); background-repeat:no-repeat;background-position:left center; padding-left: 27px;}
.navbar a#rw-nav-rwblog {background-image: url("../img/rw-nav-blog.png"); background-repeat:no-repeat;background-position:left center; padding-left: 29px;}

#rw-nav-global-parent,
.community-projects-parent,
.footer {
  min-width: 100%;
  background-color: #f4f4f0;
}


/* Top half below the global nav band */

#rw-child .jumbotron {
  background-color: transparent;
  padding-top: 20px;
  padding-bottom: 10px;
}

#rw-homepage-top {min-width: 100%; background-color: #f4f4f0;}

/* TODO: check making this responsive */
#rw-hero-logo {width: 375px; margin-bottom: 20px;}

.logo-title {
  margin: 0 15px 20px;
  font-size: 1.4em;
}

p.intro-text {
  font-size: 1.2em;
}

.well {
  background-color: #fff;
  margin-bottom: 0;
  padding: 19px 25px;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.boxes {
  padding-top: 20px;
  color: #737373;
}

.boxes legend {
  margin-bottom: 20px;
  font-family: 'Volkhov', serif;
  font-weight: 700;
  color: #666666;
  font-size: 1.6em;
  border-color: none;
  border-image: none;
  border-style: none;
  border-width: 0;
}

.blog-title-image {
  float: right;
}

#rw-signup .help-block {
  padding-bottom: 10px;
}

.social-icons ul {
  padding: 20px 0;
}

.social-icons li {
  display: inline;
}

.message {
  font-size: 1.4em;
}

.message .text {
  font-size: 16px;
  padding: 20px 0;
}

/* Bottom half */

.rw-divider {
  background-image: url("../img/rw-project-list-shadow.png");
  background-position: top;
  background-repeat: repeat-x;
  min-height: 10px;
  display: block;
}

#rw-bottom-half {
  color: #f4f4f0;
}

.rw-projects,
.resources {
  color: #f4f4f0;
}

.community-projects-child {
  color: #737373;
  background-color: transparent;
}

.rw-project-list,
.community-project-list,
.resources-widgets {
  overflow: auto;
  margin-bottom: 20px;
}

.rw-projects h2:before {
  content: url("../img/icon-rw-white-small.png");
  position: relative;
  padding-right: 10px;
  top: 14px;
}

.community-projects-child h2:before {
  content: url("../img/icon-leadership-grey.png");
  position: relative;
  padding-right: 10px;
  top: 14px;
}

.resources h2:before {
  content: url("../img/icon-meeting-white.png");
  position: relative;
  padding-right: 10px;
  top: 14px;
}

.rw-project-list-item {
  /* border-bottom: 1px solid #ccc; */
}

.rw-project-list-item a {
  color: #cda7ff;
}

.rw-project-list-item a:hover,
.rw-project-list-item a:focus {
  color: #cda7ff;
  opacity: 0.8;
  text-decoration: none;
}

.rw-description {
  font-size: 0.9em;
}

.rw-status {
  font-size: 0.9em;
  margin-bottom: 0;
}

.rw-img-cell {
  padding: 17px 0;
}

.innovation-report-list,
.innovation-job-list,
.innovation-training-list {
  background-color: #fff;
  color: #999;
}

.innovation-report {
  padding: 10px;
  border-bottom: 1px dotted #ccc;
  font-size: 0.9em;
}

.innovation-report img {
  height: 40px;
  width: 40px;
}

.innovation-report .date {
  float: right;
}

.innovation-report .text {
  padding-left: 50px;
  font-weight: 400;
}

.innovation-report .text a {
  text-decoration: none;
}

.innovation-report .country {
  font-weight: 700;
  color: #000;
}

.innovation-report .source::before {
  content: url("../img/doc.gif");
  position: relative;
  padding-right: 4px;
  top: 4px;
}

.innovation-report .source {
  font-size: 0.7em;
}

.more-link {
  padding-left: 100px;
}

.twitter-timeline {
  padding-bottom: 14px;
}

.rw-copyright {margin: 20px 0 60px 0; color: #babab3;}

.logo-footer {
  width: 133px;
  height: 38px;
  display:block;
  background: url(../img/logo-footer.png) no-repeat top left;
  margin-bottom: 3px;
}

.ocha-logo-footer {
  width: 133px;
  height: 38px;
  display:block;
  background: url(../img/logo-ocha.png) no-repeat top left;
  margin-bottom: 3px;
}

.footer-heading {
  text-transform: uppercase;
  font-size: 11px;
  color: #757575;
  font-weight: bold;
  padding-top: 2em;
  margin-bottom: 2em;
}

.footer-subtitle {
  font-family: "Volkhov-Regular";
}

.related-site {
  min-width: 120px;
  min-height: 80px;
}

.logo-humanitarianresponse {
  background: url(../img/logo-humanitarianresponse-tall.png) no-repeat top left;
}

.logo-gdacs {
  background: url(../img/logo-gdacs.png) no-repeat top left;
}

.logo-inform {
  background: url(../img/logo-inform.png) no-repeat top left;
}

.logo-iasc {
  background: url(../img/logo-iasc.png) no-repeat top left;
}

.logo-pw {
  background: url(../img/logo-pw.png) no-repeat top left;
}

.logo-hdx {
  background: url(../img/logo-hdx.png) no-repeat top left;
}

.logo-hews {
  background: url(../img/logo-hews.png) no-repeat top left;
}

.logo-cerf {
  background: url(../img/logo-cerf.png) no-repeat top left;
}

.logo-vosocc {
  background: url(../img/logo-vosocc.png) no-repeat top left;
}

.logo-fts {
  background: url(../img/logo-fts.png) no-repeat top left;
}

.logo-redhum {
  background: url(../img/logo-redhum.png) no-repeat top left;
}

.logo-whs {
  background: url(../img/logo-whs.png) no-repeat top left;
}

.logo-insarag {
  background: url(../img/logo-insarag.png) no-repeat top left;
}

.logo-youtube {
  background: url(../img/icon-youtube.png) no-repeat top left;
  display: block;
  height: 32px;
  margin: 4px 4px 8px 0;
  width: 32px;
}

.logo-twitter {
  background: url(../img/icon-twitter.png) no-repeat top left;
  display: block;
  height: 32px;
  margin: 4px 4px 8px 0;
  width: 32px;
}

/* Projects, Challenges */
#rw-challenge,
#rw-project {
  color: #848480;
}
