<!-- Hardcoded until the iframe generation is deployed. -->
<a href="http://reliefweb.int/blog" target="_blank" class="blog-title-image pull-left"><img src="http://reliefweb.int/profiles/reliefweb/themes/kobe/images/blog-title.png" width="140" alt="Link to blog" /></a>
<div style="margin-top:100px">
<h4><a href="http://reliefweb.int/blogpost/user-survey-results-helping-improve-reliefweb" target="_blank">User survey results - helping to improve ReliefWeb</a></h4>
<p style="font-size:14px">In October 2014, we undertook a comprehensive user survey designed to help us get a better understanding of why and how you use ReliefWeb as well as what you do with the information you find.</p>
<a href="http://reliefweb.int/blog" target="_blank" class="blog-more-link">Visit the blog</a>
</div>
