<div class="footer container">
  <a href="#" class="pull-right scroll-link back-to-top" data-id="rw-nav-global-parent">Back to top.</a>
  <div class="row">
    <div class="container">
      <div class="col-md-4">
        <h3 class="logo-footer text-hide"><a href="http://www.reliefweb.int" class="logo active">ReliefWeb</a></h3>
        <p class="footer-subtitle">Informing humanitarians worldwide.</p>
        <p>A service provided by
        <span class="ocha-logo-footer text-hide"><a href="http://www.unocha.org">OCHA</a></span></p>
        <p>ReliefWeb has been the leading online source for reliable and timely humanitarian information on global crises and disasters since 1996.<br /><a href="http://reliefweb.int/about">Learn more about ReliefWeb</a></p>
      </div>

      <div class="col-md-4 pull-right">
        <div class="footer-heading">Related Sites</div>
        <div class="row">
          <div class="col-md-4">
            <div class="related-site text-hide logo-humanitarianresponse"><a href="http://www.humanitarianresponse.info/" title="Humanitarian Response" target="_blank">Humanitarian Response</a></div>
            <div class="related-site text-hide logo-gdacs"><a href="http://www.gdacs.org" title="Global Disaster Alert and Coordination System" target="_blank">Global Disaster Alert and Coordination System</a></div>
            <div class="related-site text-hide logo-inform"><a href="http://www.inform-index.org" title="Inform Index" target="_blank">Inform Index</a></div>
            <div class="related-site text-hide logo-iasc"><a href="http://www.humanitarianinfo.org/iasc/" title="Inter-Agency Standing Committee" target="_blank">Inter-Agency Standing Committee</a></div>
            <div class="related-site text-hide logo-pw"><a href="http://www.preventionweb.net/" title="PreventionWeb" target="_blank">PreventionWeb</a></div>
          </div>

          <div class="col-md-4">
            <div class="related-site text-hide logo-hdx"><a href="http://data.hdx.rwlabs.org/" title="Humanitarian Data Exchange" target="_blank">Humanitarian Data Exchange</a></div>
            <div class="related-site text-hide logo-hews"><a href="http://www.hewsweb.org" title="Humanitarian Early Warning Service" target="_blank">Humanitarian Early Warning Service</a></div>
            <div class="related-site text-hide logo-cerf"><a href="http://www.unocha.org/cerf/" title="Central Emergency Response Fund" target="_blank">Central Emergency Response Fund</a></div>
            <div class="related-site text-hide logo-vosocc"><a href="http://vosocc.unocha.org" title="Virtual OSOCC - real-time disaster coordination" target="_blank">Virtual OSOCC - real-time disaster coordination</a></div>
          </div>

          <div class="col-md-4">
            <div class="related-site text-hide logo-fts"><a href="http://fts.unocha.org" title="Financial Tracking Service" target="_blank">Financial Tracking Service</a></div>
            <div class="related-site text-hide logo-redhum"><a href="http://www.redhum.org" title="Red de Información Humanitaria para América Latina y el Caribe" target="_blank">Red de Información Humanitaria para América Latina y el Caribe</a></div>
            <div class="related-site text-hide logo-whs"><a href="http://www.worldhumanitariansummit.org" title="World Humanitarian Summit" target="_blank">World Humanitarian Summit</a></div>
            <div class="related-site text-hide logo-insarag"><a href="http://www.insarag.org" title="International Search and Rescue Advisory Group" target="_blank">International Search and Rescue Advisory Group</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <div class="col-md-12">
          <div class="row-fluid rw-copyright">&copy; {{ site.time | date: "%Y" }} ReliefWeb</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="js/bootstrap.min.js"></script>
<script src="js/scrolling.js"></script>
{% include analytics.html %}
