<div id="rw-nav-global-parent" class="container">
  <div class="row">
    <div id="rw-nav-global-child" class="container">
      <div class="navbar">
        <div class="container">
          <ul class="nav nav-pills pull-right" id="rw-nav-global-utilities">
            <li><a href="http://reliefweb.int/about">About ReliefWeb</a></li>
            <li class="rw-nav-last-right"><a href="mailto:labs@reliefweb.int">Get in touch</a></li>
          </ul>
          <ul class="nav nav-pills" id="rw-nav-global-sites">
            <li class="rw-nav-first-left"><a href="http://reliefweb.int" id="rw-nav-rwhome">ReliefWeb Home</a></li>
            <li class="active"><a href="/" id="rw-nav-rwlabs">Labs</a></li>
            <li><a href="http://reliefweb.int/blog" id="rw-nav-rwblog">Blog</a></li>
          </ul>
        </div><!-- /.container -->
        <div class="container">
          <ul class="nav nav-pills pull-left" data-spy="affix" data-offset-top="40" data-offset-bottom="70" id="rw-nav-page">
            <li><a href="#rw-projects" class="scroll-link" data-id="rw-projects">RW Projects</a></li>
            <li><a href="#community-projects" class="scroll-link" data-id="community-projects">Community Projects</a></li>
            <li><a href="#resources" class="scroll-link" data-id="resources">Resources</a></li>
          </ul>
        </div><!-- /.container -->
      </div><!-- /.navbar -->
    </div><!-- /#rw-nav-global-child -->
  </div><!-- /.row-fluid -->
</div><!-- /#rw-nav-global-parent -->
