<script type="text/javascript" src="./js/underscore-min.js"></script>
<script id="job-list-item" type="text/x-underscore-template">
  <div class="innovation-report">
    <img class="pull-left" src="http://img.static.reliefweb.int/sites/reliefweb.int/files/styles/s/public/country-icons/<%= fields.country[0].iso3 %>.png"/>
    <div class="text">
      <div class="date"><%= formatted_date %></div>
      <div class="country"><%= fields.country[0].name %></div>
      <a href="<%= fields.url %>"><%= fields.title %></a>
      <div class="source">Job -- <%= fields.source[0].shortname %></div>
    </div>
  </div>
</script>
<script type="text/javascript">
var INNOVATION_JOBS = {
  handlerData : function(results) {
    var html = '<div class="innovation-job-list thumbnail">';
    var source = $("#job-list-item").html();
    var compiled = _.template(source);
    _.each(results.data, function(item) {
      var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"];
      var timestamp = new Date(item.fields.date.created);
      item.formatted_date = timestamp.getDate() + ' ' + monthNames[timestamp.getMonth()] + ' ' + timestamp.getFullYear();
      html += compiled(item);
    });
    html += '<a class="more-link" href="http://reliefweb.int/jobs?search=innovation+AND+technology+AND+information">More on ReliefWeb &raquo;</a>';
    html += '</div>';
    $("#innovation-jobs").html(html);
  },
  loadReports : function() {
    $.ajax({
      url:'http://api.rwlabs.org/v1/jobs?query[value]=innovation%20AND%20technology%20AND%20information&query[fields][]=title&query[fields][]=body&fields[include][]=title&fields[include][]=date.created&fields[include][]=url&fields[include][]=country.name&fields[include][]=source.shortname&fields[include][]=country.iso3&sort[]=date:desc&limit=5',
      method:'get',
    }).done(this.handlerData);
  }
}
$( document ).ready(function() {
  INNOVATION_JOBS.loadReports();
});
</script>
<div id="innovation-jobs"></div>
