
<!--<legend></legend>
<img alt="" src="http://img.static.reliefweb.int/sites/reliefweb.int/files/resources/HumTech2015_Poster_ReliefWeb_0.png">-->
<div class="message">
<legend>ReliefWeb Challenges</legend>
­ <a href="challenges/visualization/index.html"><img src="img/product_type_chart_100px_bluebox.png"/></a>
  <div class="text">
­ <a href="challenges/visualization/index.html"> Help us visualize 20 years of humanitarian information</a>
  </div>

­ <a href="challenges/calendar/index.html"><img src="img/product_type_calendar_100px_bluebox.png"/></a>
  <div class="text">
­ <a href="challenges/calendar/index.html"> Build a common Humanitarian Calendar</a>
  </div>
</div>
