<div id="rw-signup">
  <legend>Stay connected.</legend>
  <span class="help-block">Sign up for occasional emails about what we're working on.</span>
  <form action="http://reliefweb.us5.list-manage.com/subscribe/post?u=bbba5e49a58c86ed484b5a084&id=acdc2d59ab" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
  <label for="mce-EMAIL">Receive news about us</label>
  <!--[if gte IE 7]><span class="placeholder"><em>Email Address:</em></span><![endif]-->
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required="">
  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
  </form>

  <!-- Social icons -->
  <div class="social-icons">
    <ul>
      <li><a href="http://twitter.com/reliefweb"><img src="http://reliefweb.int/profiles/reliefweb/themes/kobe/images/icon-twitter.png" alt="Twitter" /></a></li>
      <li><a href="http://www.facebook.com/reliefweb"><img src="http://reliefweb.int/profiles/reliefweb/themes/kobe/images/icon-facebook.png" alt="Facebook" /></a></li>
      <li><a href="http://www.youtube.com/reliefweb"><img src="http://reliefweb.int/profiles/reliefweb/themes/kobe/images/icon-youtube.png" alt="YouTube" /></a></li>
      <li><a href="https://plus.google.com/u/0/101350840970995581001"><img src="http://reliefweb.int/profiles/reliefweb/themes/kobe/images/icon-google.png" alt="Google plus" /></a></li>
      <li><a href="/rss"><img src="http://reliefweb.int/profiles/reliefweb/themes/kobe/images/icon-rss.png" alt="RSS" /></a></li>
    </ul>
  </div>
</div>
