<!DOCTYPE html>
<html>
  {% include project-head.html %}
  <body>
    {% include header.html %}
    <div id="rw-bottom-half" class="container-fluid">
      <div id="rw-project-list" class="container">
        <div class="content">
        <h1>{{ page.title }}</h1>
        <!-- TODO: set size of image and styling -->
        <img src="../../{{ page.image }}" alt="{{ page.title }}"/>
        {{ content }}
        </div>
        <div class="row-fluid rw-copyright">&copy; 2015 ReliefWeb</div>
      </div><!-- /#rw-project-list -->
    </div><!-- /#rw-bottom-half -->
    {% include footer.html %}
    {% include analytics.html %}
  </body>
</html>
